/* Custom CSS to extend MkDocs styling */

.md-header {
    background-color: #0c2d4d;
}

.md-tabs {
    background-color: #0c2d4d;
}

/* hide the site title and make logo larger */

.md-header-nav__ellipsis .md-ellipsis:first-child {
    /* this hides the site title but not the selected nav section title */
    display: none;
}

.md-header-nav__button.md-logo img, .md-header-nav__button.md-logo svg {
    width: 195px;
    height: 79px;
    position: absolute;
}

.md-header[data-md-state="shadow"] .md-header-nav__button.md-logo img,
.md-header[data-md-state="shadow"] .md-header-nav__button.md-logo svg {
    display: none;
}

.md-nav__title .md-nav__button.md-logo img, .md-nav__title .md-nav__button.md-logo svg {
    /* increase width of logo when using drawer nav */
    width: 90%;
    height: 100%;
    position: static;
}

.md-nav__title .md-nav__button.md-logo img, .md-nav__title .md-nav__button.md-logo svg {
    /* increase width of logo when using drawer nav */
    width: 90%;
    height: 100%;
}

/* shift header nav to the right */
ul.md-tabs__list {
    margin-left: 12.7rem;
}

@media screen and (max-width: 76.1875em) {
    .md-nav--primary .md-nav__title[for=__drawer] {
        background-color: #0c2d4d;
        /* bit of a hack, but give text the same color to hide it */
        color: #0c2d4d;
    }
}

#hardware-config-table th, #hardware-config-table td,
#cgrl-config-table th, #cgrl-config-table td {
    min-width: 4em;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.md-footer {
    background-color: #0c2d4d;
}

/* hide "Made with Material" in footer */
.md-footer-copyright {
    display: none;
}
